* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background-color: lightblue;
}

#filedrop {
	position: absolute;
	
	padding: 15px;
	box-sizing: border-box;
	border: 5px dashed gray;
	border-radius: 25px;
	
	top: 50px;
	right: 50px;
	width: 200px;
	height: 100px;
	
}

#render-statistics {
    position: absolute;
    top: 25px;
    left: 25px;

    color: #EEEEEE;
    font-family: "Lucida Console", Monaco, monospace;
}
